node_modules/
dist/
build/
.env
.env.local
.env.*.local
yarn.lock
package-lock.json
.DS_Store
.idea/
.vscode/
*.log
logs/
.cache/
.turbo/
*.db
postgres_data/
.next/
out/
coverage/
.nyc_output/
temp/
tmp/
